<p>
  <strong>New Account:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>User Number:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong> Total Deposit:</strong>
  <%= @account.total %>
</p>
